// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.quit-message {
text-align: center;
margin-top: 200px;
}

edit-form{
  padding:30px 50px;
}

edit-form dl dt{
  width: 165px;
  padding:10px 0;
  float:left;
  clear:both;
}

edit-form dl dd{
  padding:10px 0;
}
