// Place all the styles related to the public/genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.ganre-img {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}