// Place all the styles related to the public/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
}


.items {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.item-price {
  display: block;
}

item-name {
  margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.item_index{
  position: relative;
}

.text-center {
  position: absolute;
  bottom: -20%;
  left: 40%;
}