h2 {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 10px;
  padding-bottom: 4px;
  color: #111111;
}

h6 {
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 10px;
  margin-top: 15px;
  padding-bottom: 4px;
  color: #111111;
}

.login-buuton{
  margin-left: 286px;
}