<div class="about-message">
  NAGANO CAKEは全国発送可能なケーキ屋さんです。<br/>
  たくさんの方に喜んでもらえるように、<br/>
  様々な種類のケーキ、お菓子をご用意しております。<br/>
  全国へ発送可能ですので気軽にご注文いただけます！
</div>

<div class="about-img">
  <%= image_tag "アバウト.jpg", size: "600x300" %>
</div>
