<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="about-img-wrap">
        <img class="about-img" src="assets/アバウト.jpg">
        <p>
        NAGANO CAKEは全国発送可能なケーキ屋さんです。<br/>
        たくさんの方に喜んでもらえるように、<br/>
        様々な種類のケーキ、お菓子をご用意しております。<br/>
        全国へ発送可能ですので気軽にご注文いただけます！
        </p>
    </div>
  </div>
</div>

