<h1>注文情報確認</h1>
<table>
  <tr>
    <th>商品名</th>
    <th>単価(税込み)</th>
    <th>数量</th>
    <th>小計</th>
  </tr>
  <% @cart_items.each do |cart_item| %>
    <%= cart_item.name %>
    <%= cart_item.order.order_price %>
    <%= cart_item.count %>

  <tr>

  </tr>
</table>
