<h1>注文履歴一覧</h1>
<table>
  <tr>
    <th>注文日</th>
    <th>配送先</th>
    <th>注文商品</th>
    <th>注文金額</th>
    <th>ステータス</th>
    <th>注文詳細</th>
  </tr>
  <% @orders.each do |order| %>
  <tr>
    <td><%= order.created_at %></td>
    <td><%= order.postal_code %><br>
        <%= order.address %><br>
        <%= order.namr %></td>
    <td>
      <% order.order_details.each do |order_detail| %>
      
    </td>
  </tr>
</table>
