<div class="items">
  <% items.each do |item| %>
    <div class="item-content">
      <%= image_tag item.item_image %>
      <%= item.name %>
      <%= item.price %>
    </div>
  <% end %>
   <div class="pagination">
          <p><<</p>
          <p><</p>
          <p>1</p>
          <p>2</p>
          <p>3</p>
          <p>></p>
          <p>>></p>
        </div>
</div>